/*COLORES SITIO WEB*/
$color-primario: #009379;
$color-secundario-background: #D3E5E2;
$color-titulos: #494949;
$color-neutral: #2D2D2D;
$color-background: #F0F3F3;
$color-white: #fff;
$color-border: #D9D9D9;
