$font-family-principal:'Epilogue', sans-serif;
$font-size-h1:96px;
$font-size-h2:32px;
$font-size-h3:22px;
$font-size-h4:20px;
$font-size-xl:56px;
$font-size-md:18px;
$font-size-normal:16px;
$font-size-s:14px;
$font-size-xs:12px;