*{padding: 0; margin: 0;}
body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h1{display: block; margin: 32px; text-align: center; font-size: 64px;}
.wrap{
    border: solid 1px black;
    margin: 50px auto;
    min-height: 500px;
    max-width: 1280px;
    padding: 24px;
}
.caja{
    width: 100px;
    height: 100px;
    background: rebeccapurple;
    color: #fff;
    }
.direction-column, .direction-row, .justify-start, .justify-center, .justify-end, .justify-between, .justify-around, .justify-evenly,.align-start,.align-end,.align-center, .no-wrap,.yes-wrap{
    border: dashed 1px red;
    background: #fff5f5;
    margin-top: 32px;
}
footer{
    background: black;
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
}






/*JUSTIFICACIONES Y ALINEACIONES DE FLEXBOX*/

.direction-column{
    display: flex;
    flex-direction: column;
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
    
}

.direction-row{
    display: flex;
    flex-direction: row;
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
}


.justify-start{
    display: flex;
    justify-content: flex-start;
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
}

.justify-center{
    display: flex;
    justify-content: center;
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
}

.justify-end{
    display: flex;
    justify-content: flex-end;
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
}

.justify-between{
    display: flex;
    justify-content:space-between;
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
}


.justify-around{
    display: flex;
    justify-content:space-around;
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
}

.justify-evenly{
    display: flex;
    justify-content:space-evenly;
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
}

.align-start{
    display: flex;
    align-items: flex-start;
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
}

.align-end{
    display: flex;
    align-items: flex-end;
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
    height: 500px;
}

.align-center{
    display: flex;
    align-items: center;
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
    height: 500px;
}


.no-wrap{
    display: flex;
    flex-wrap: nowrap; /*DEFAULT*/
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
    height: 500px;
}

.yes-wrap{
    display: flex;
    flex-wrap: wrap; 
    gap: 1em; /*PUEDE SER EN PX O EM O %*/
}

/*FIN JUSTIFICACIONES Y ALINEACIONES DE FLEXBOX*/


